@model IEnumerable<Paint_Ecommerce.Models.ProductReview>

@{
    Layout = null;
}



@foreach (var item in Model)
{



    <div class="review">
        <div class="row no-gutters">
            <div class="col-auto">
                <h4><a href="#">@item.Name</a></h4>
                <div class="ratings-container">
                    <div class="ratings">
                        <div class="ratings-val" style="width: @item.Score%"></div><!-- End .ratings-val -->
                    </div><!-- End .ratings -->
                </div><!-- End .rating-container -->
            </div><!-- End .col -->
            <div class="col">
                <h4></h4>

                <div class="review-content">
                    <p>@item.Comment</p>
                </div><!-- End .review-content -->

                <div class="review-action">
                    <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                    <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                </div><!-- End .review-action -->
            </div><!-- End .col-auto -->
        </div><!-- End .row -->
    </div><!-- End .review -->




}

